{% extends "layout.html" %}
{% block body %}
<form id="employee-form" action="/employees/{{ employee.id }}.json" method="POST">
    <table>
        <tr>
            <th>First Name</th>
            <td><input type="text" name="firstName" value="{{ employee.firstName }}"/></td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td><input type="text" name="lastName" value="{{ employee.lastName }}"/></td>
        </tr>
    </table>
    <input type="hidden" name="id" value="{{ employee.id }}"/>
    <input type="submit" value="Save"/>
</form>
<script type="text/javascript">
    $(document).ready(function() {
       $('#employee-form').ajaxForm({
           type: 'put',
           success: function() {
               window.location.href = '/employees/{{ employee.id }}';
           }
       }); 
    });
</script>
{% endblock %}