{% extends "layout.html" %}
{% block body %}
<table>
    <tr>
        <th>Employee Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Action</th>
    </tr>
    {% for employee in employees %}
        <tr>
            <th>{{ employee.id }}</th>
            <th>{{ employee.firstName }}</th>
            <th>{{ employee.lastName }}</th>
            <th>
                <a href="/employees/{{ employee.id }}/edit">Edit</a>
                <a href="/employees/{{ employee.id }}.json" data-ajax data-confirm data-refresh data-method="DELETE">Delete</a>
            </th>
        </tr>
    {% endfor %}
</table>
<a href="/employees/new">New</a>
{% endblock %}