{% extends "layout.html" %}
{% block body %}
<form id='employee-form' action="/employees.json" method="POST">
    <table>
        <tr>
            <th>First Name</th>
            <td><input type="text" name="firstName"/></td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td><input type="text" name="lastName"/></td>
        </tr>
    </table>
    <input type="submit" value="Create"/>
</form>

<script type="text/javascript">
    $(document).ready(function() {
        $('#employee-form').ajaxForm({
           type: 'post',
           success: function(data) {
               window.location.href = '/employees/' + data.employee.id;
           }
        });
    });
</script>
{% endblock %}