{% extends "layout.html" %}
{% block body %}
<a href="/employees">Index</a>
<table>
    <tr>
        <th>Employee Id</th>
        <td>{{ employee.id }}</td>
    </tr>
    <tr>
        <th>First Name</th>
        <td>{{ employee.firstName }}</td>
    </tr>
    <tr>
        <th>Last Name</th>
        <td>{{ employee.lastName }}</td>
    </tr>
</table>
<a href="/employees/{{ employee.id }}/edit">Edit</a>
{% endblock %}