<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
        <script type="text/javascript" src="/static/ajax-links.js"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>